<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>Welcome to {{ title }}!</h1>
</div>

<h2>Create a new bingo meeting</h2>
<!-- mat input form -->
<form [formGroup]="createMeetingForm" #formDirective="ngForm" (ngSubmit)="onSubmit(createMeetingForm.value, formDirective)">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="User Name" formControlName="userName" [value]="_nameParticipant" required>
    </mat-form-field>
    <br />

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Meeting Name" formControlName="meetingName" [value]="meetingName" required>
    </mat-form-field>
    <br />
    <button mat-raised-button type="submit" [disabled]="!createMeetingForm.valid">Create
    meeting</button>
</form>
<!-- mat input form END -->
<h2>Existing bingo meetings {{ meetings.length }}</h2>

<div class="meetings" *ngIf="_show" (click)="meetingShow = true ; _show = false">
    <mat-list role=" list " *ngFor="let m of meetings ">
        <mat-list-item role="listitem " [title]="m.meetingName + 'details'" rel="noopener" [routerLink]="[ '/meetings', m.idMeeting]" (click)="getMeetingValue(m.meetingName) ; show(m)">{{m.meetingName}} created by {{m.participantName}}</mat-list-item><button id="join" (click)="addParticipant(m.idMeeting) ; openSnackBar() " mat-raised-button>Join meeting</button>
    </mat-list>

</div>

<div class="meetings" *ngIf="meetingShow" (click)="_show = true ; meetingShow = false">
    <mat-list>
        <mat-list-item role="listitem " [title]="meetingShow.meetingName + 'details'" rel="noopener" [routerLink]="[ '/meetings', meetingShow.idMeeting]" (click)="getMeetingValue(meetingShow.meetingName)">{{meetingShow.meetingName}} created by {{meetingShow.participantName}}</mat-list-item><button id="join" (click)="addParticipant(meetingShow.idMeeting) ; openSnackBar()" mat-raised-button [disabled]="!_nameParticipant ">Join meeting</button>
    </mat-list>

</div>
<mat-card *ngFor="let err of errMessage">Error: {{err.status | json}} -> {{err.statusText | json}}</mat-card>
<router-outlet></router-outlet>
<p>
    Made by Andrei Ignat & Alexandru Badita
</p>

Github project at : https://github.com/alexandru360/PresentationBingoCards/