/* .mat-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
} */

.mat-list-base {
    display: flex;
    width: 70%;
}

.meetings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    font-size: 25px !important;
}

#join {
    display: flex;
    justify-content: center;
    align-items: center;
}