<p *ngIf="actualMeeting == null">Retrieving details for {{ id }}</p>
<div *ngIf="actualMeeting != null">
    <h2>
        Meeting {{ actualMeeting.Name }} by {{ actualMeeting.Creator().Name }}
    </h2>
    <h3>Participants:</h3>
    <mat-selection-list role="list">
        <mat-list-option role="listitem" *ngFor="let p of actualMeeting.Participants">{{ p.Name }}</mat-list-option>
    </mat-selection-list>
    <h3>Cards:</h3>
    <mat-selection-list role="list" #cards (selectionChange)="selectionChange($event.option, i)">
        <mat-list-option role="listitem" *ngFor="let c of actualMeeting.Cards ; let i = index" [selected]="c.selected" [value]="i + +1">{{c.Name}}</mat-list-option>
    </mat-selection-list>
    <button mat-raised-button>Save ticked cards</button>
    <p>
        Cards selected: {{cards.selectedOptions.selected.length}}
    </p>
</div>